<h1><%= @day %></h1>



<% counter = 0 %>
<% for deals in @all_deals %>

<p> <%= deals[0]['name'] %> </p>
<p> <%= deals[1]['name'] %> </p>
<p> <%= deals[2]['deal_type'] %> </p>

<% counter += 1 %>


<% end %>