<h1>List of Lizards(Wizards) Oh Ok and Witches</h1>

<% for burger in @burgers %>

<p><a href="/newburgers/<%=burger.id%>" >Name: <%= burger.first_name %>  <%= burger.last_name %></a></p>


<hr/>
<% end %>