<h1>Index Home Page Thing</h1>

<div class="info">

<p> WELCOME to Jarrods Burger Tracker! </p>
<p> To add a burger or eatery </p>
<p> look to the right </p>
<p> to delete a Burger or Eatery </p>
<p> go onto the information page for said item </p>
<p> by pressing on it, and hit delete! </p>
<br/>
<p> To create or delete a deal </p>
<p><b> TOUGH LUCK </b></p>

</div>