<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Courgette|Oleo+Script" rel="stylesheet">

  <title>Burger Comparison</title>

  <link rel="icon" href="http://www.dfordelhi.in/wp-content/uploads/2016/03/burger_sandwich_1.jpg" />

  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

</head>
<body>


<%= yield %>

<p><a href="/burgers/new">Build your own Burger</a></p> 
<p><a href="/eateries/new">Build your own Eatery</a></p> 
</body>
</html>