<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/css?family=Courgette|Oleo+Script" rel="stylesheet">

  <title>Burger Comparison</title>

  <link rel="icon" href="http://www.dfordelhi.in/wp-content/uploads/2016/03/burger_sandwich_1.jpg" />

  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>
<body>
  <div class="thing">
    <div class="main">
      <div>
        <div class="navigate">

         <a href="/"> Home </a>
         <hr/>
         <a href="/burgers"> Burgers </a>
         <hr/>
         <a href="/eateries"> Eateries </a>
         <hr/>
         <a href="/deals"> Deals </a>
       </div>
       <a><h3>All deals by day</h3></a>

       <p><a href="/Monday"> Monday </a></p>
       <p><a href="/Tuesday"> Tuesday </a></p>
       <p><a href="/Wednesday"> Wednesday </a></p>
       <p><a href="/Thursday"> Thursday </a></p>
       <p><a href="/Friday"> Friday </a></p>
       <p><a href="/Saturday"> Saturday </a></p>
       <p><a href="/Sunday"> Sunday </a></p>

       

     </div>
     <div class="deals">
      <%= yield %>
    </div>
    <div class ="create">
      <p><a href="/burgers/new">Build your own Burger</a></p> 
      <p><a href="/eateries/new">Build your own Eatery</a></p> 
    </div>
  </div>
</div>
</body>
</html>