
<h1>Well that was pointless</h1>

<div class="info">

<p> this entire page was created just so that I knew how the flexbox would look with three items in it </p>
<p> If I were to continue that button would be a create deal function </p>
<br/>
<br/>
<p> Actually... </p>
<br/>
<p> It's not even a button... </p>
<br/>
<p> How pointless... </p>

</div>