

body {
  background-color: #F1E9DF ;
  font-family: 'Oleo Script', cursive;
}

h1 {
  font-family: 'Oleo Script', cursive;
  
}

a:link {
  color: navy;
  font-size: 150%;
  font-family: 'Courgette', cursive;
  text-align:center;
}

a:visited {
  color: navy;
  font-size: 150%;
  font-family: 'Courgette', cursive;
  text-align:center;
}



