
div {
  /*border: 3px solid black;*/
}

div.thing {
  background: url('/images/burger_drawing1.png') 80% no-repeat;
  background-size: 50%;
  background-attachment: fixed;
}

div.main {
  background-color: #F1E9DF ;
  opacity: 0.8;
  display: flex;
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-around;
}

div.navigate {
  border: 2px solid black;
  width: 150px;
}

div.deals {
  background-color: #F1E9DF;
  opacity: 0.9;
  margin: 10px;
  padding: 10px;
  width: 400px;
}

div.create {
  background-color: #F1E9DF;
  opacity: 0.9;
}

div.info {
  font-family: 'Oleo Script', cursive;
  font-size: 20px;
}

div.button {

}


