<h1>Add Burger</h1>

<form action="/burgers" method="post" >
  <p>
    <label>
      Name:
      <input type="text" name="name" />
    </label>
  </p>

  <p>
    <label>

      <select name="eatery" >
        <% @eatery_names.each do |eatery| %>
        <option value="<%=eatery%>"><%=eatery%></option>
        <% end %>
      </select>
    </label>
  </p>

  <p>
    <label>
      Cost:
      <input type="number" name="cost" />
    </label>
  </p>


  <p><input type="submit" value="Add" /></p>
</form>